body{
    background-image: url(../img/fondotablero.png);
    background-repeat: no-repeat;
    border: 0px;
    padding: 0px;
}

p {

    color: rgb(0, 134, 201);
}

h1 {
    color: rgb(5, 0, 98);
}

h2 {
    color: rgb(6, 12, 119);
}

.btn {
    background-color: rgb(202, 122, 68);
    align-content: center;
    justify-content: center;
    height: 2.8em;
    width: 12em;
    color: rgb(39, 0, 112);
    border-radius: 8%;
    border-color: rgb(196, 0, 186);
}
.btn:hover {
    background-color: rgb(202, 82, 2);
    cursor: pointer;
}

