body {
    background-image: url(../img/Background-main.jpg);
    border: 0px;
    padding: 0px;
}

.container {
    top: 13em;
    padding: 0px;
}
#columna {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    right:4px;
}

#Player1 {
    color: rgb(191, 10, 191);
    font-family:Impact,'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 0.2em;

}

#Player2 {
    color: rgb(0, 21, 138);
    font-family:Impact,'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 0.2em;
}

#botonjugar {
    border-top: 20px;
}

#foto1 {
    max-width: 5em;
}

.jugador1titulo {
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2em;
}

#texto1 {
    display:grid;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: xx-large;
}

#foto2 {
    height: 6em;
    justify-content: left;
}

.jugador2titulo {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

#texto2 {
    display:grid;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: xx-large;
}

.medio {
    border: 20px;
    border-color: blue; 
    justify-content: center;
}