body {
    background-image: url(../img/Background-main.jpg);
    border: 0px;
    padding: 0px;
}

.container {
    position: relative;
    top: 13em;
    padding: 0px;
}
#columna {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    right:4px;
}