body{
    background-image: url(../img/Background-main.jpg);
    background-repeat: no-repeat;
    border: 0px;
    padding: 0px;

}

.btn {
    font-size: 20px;
    position: relative;
    top: 7em;
    width:15em;   
    height: 2em;
    color: rgb(124, 0, 93);
    text-align: center;
    justify-content: space-between;
}

.row {
    padding: 14px;
}

h1 {
    color: rgb(201, 64, 0);
    text-align: center;
}
.container {
    text-align: center;
}