body{
    background-image: url(../img/Background-main.jpg);
    background-repeat: no-repeat;
    border: 0px;
    padding: 0px;
}

.btn {
    font-size: 20px;
    position: relative;
    top: 7em;
    width:15em;   
    height: 2em;
    color: rgb(124, 0, 93);
    text-align: center;
    justify-content: space-between;
    padding: 0;
    position: sticky;
}

h1 {
    color: rgb(184, 3, 124);
    text-align: center;
    padding: 10px;
    font-family:Impact,'Arial Narrow Bold', sans-serif ;
}

.row {
    padding: 9px;
}

.container {
    text-align: center;
}

.foto {
    height: 14em;
    width: 14em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6em;
}