body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Background-main.jpg);
}

.tablero_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: rgb(113, 86, 43);
    position: relative;
    top: 10em;
}

.cellDesign {
    height: 7em;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 140, 156);
    margin: 1em;
    cursor: pointer;
}

/* .cellDesign:hover {
    scale: 1.05;    
} */