body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondotablero.png);
    background-repeat: no-repeat;
    background-size:auto;
}

.tablero_container {
    display: grid;
    justify-content: center;
    align-items: center;
    right: 2.2em;
    grid-template-columns: 11.5vw 11.5vw 11.5vw;
    grid-template-rows: 11.5vw 11.5vw 11.5vw;
    font-size: 5vw;
    color:rgb(2, 226, 196);
}

.cellDesign {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: #2e1568 .1vw solid;
    cursor: pointer;
    background-color: rgba(18, 108, 163, 0.245);
    animation: cellDesign 4s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite normal both;
}

@keyframes cellDesign {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

#nombrejugadores {
    align-items: center;
    justify-content: space-around;
}


.cellDesign:hover {
    scale: 1.05;    
}

/* Nombres de los jugadores y títulos    */

#Jugador1 {
    color: rgb(138, 2, 138);
    font-family:Impact,'Arial Narrow Bold', sans-serif;
}

#Player1 {
    color: rgb(164, 50, 164);
    font-family:Impact,'Arial Narrow Bold', sans-serif;
    animation: Player1 3s linear 0s  normal forwards;
}
@keyframes Player1 {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

#Jugador2 {
    color: rgb(0, 21, 138);
    font-family:Impact,'Arial Narrow Bold', sans-serif;
}

#Player2 {
    color: rgb(66, 88, 217);
    font-family:Impact,'Arial Narrow Bold', sans-serif;
    animation: Player2 3s linear 0s normal forwards;
}

@keyframes Player2 {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

    /* Parte de los botones */

.botones {
    display: flex;
    padding: 15px;
    justify-content:space-around;
}

#btnreiniciar,#btnprincipal {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #495057;
    z-index: 1;
}



#btnreiniciar:hover,#btnprincipal:hover {
    box-shadow: 0 3px #adb5bd;
    top: 1px;
}


#btnreiniciar:hover:after,#btnprincipal:hover:after {
    width: 100%;
    left: 0;
}

#btnreiniciar:after,#btnprincipal:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #6c757d;
    right: 0;
    }

#btnreiniciar:active,#btnprincipal:active {
    top: 2px;
}

#menuprincipal{
    text-decoration: none;
    color: rgb(223, 4, 4);
}

#actualizarpagina{
    text-decoration: none;
    color: aqua;
}

/* Fin parte de los botones */


