body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Background-main.jpg);
}

.tablero_container {
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 15em;
    right: 2.2em;
    grid-template-columns: repeat(3, auto);
    background-color: rgb(113, 86, 43);
    height: 35vh;
    width: 45vw;
}

.cellDesign {
    height: 6vh;
    width: 6vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 140, 156);
    margin: 1em;
    cursor: pointer;
}
/* .cellDesign:hover {
    scale: 1.05;    
} */

.jugadores {
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    text-align: center;
    color: white;
    background-color: red;
    position: relative;
    height: 20vh;
    width: 20vw;
    top: 1em;

}



